docs/n8n/automation-b-estimate-drip.json
{
  "name": "Redemption — B: Estimate Form Drip (Day 1 / 3 / 7)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "redemption-estimate-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ab-001-webhook",
      "name": "Formspree Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "redemption-estimate-form"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "ab-002-ack",
      "name": "Acknowledge Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 440]
    },
    {
      "parameters": {
        "from": "REPLACE_WITH_TWILIO_NUMBER",
        "to": "={{ $('Formspree Form Webhook').item.json.body.phone }}",
        "message": "={{ 'Hi ' + $('Formspree Form Webhook').item.json.body.name.split(' ')[0] + '! We got your estimate request at Redemption Collision. We\\'ll call you within 1 business hour. Questions? Reply here or call (346) 471-5322 Mon–Fri 9am–5pm.' }}"
      },
      "id": "ab-003-day1",
      "name": "Day 1 — Confirmation Text",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [460, 180],
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_TWILIO_CRED_ID",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "id": "ab-004-wait1",
      "name": "Wait 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [680, 180]
    },
    {
      "parameters": {
        "from": "REPLACE_WITH_TWILIO_NUMBER",
        "to": "={{ $('Formspree Form Webhook').item.json.body.phone }}",
        "message": "={{ 'Hey ' + $('Formspree Form Webhook').item.json.body.name.split(' ')[0] + ', this is Redemption Collision Center in Humble. Still need that estimate? We offer free estimates with no pressure. Call/text us at (346) 471-5322 or book online: REPLACE_WITH_CAL_BOOKING_LINK' }}"
      },
      "id": "ab-005-day3",
      "name": "Day 3 — Still Interested?",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 180],
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_TWILIO_CRED_ID",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "days"
      },
      "id": "ab-006-wait2",
      "name": "Wait 4 More Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "from": "REPLACE_WITH_TWILIO_NUMBER",
        "to": "={{ $('Formspree Form Webhook').item.json.body.phone }}",
        "message": "={{ 'Last check-in from Redemption Collision — ' + $('Formspree Form Webhook').item.json.body.name.split(' ')[0] + ', your free estimate is still waiting whenever you\\'re ready. We also offer financing up to $5,000. (346) 471-5322 — we\\'re here to help.' }}"
      },
      "id": "ab-007-day7",
      "name": "Day 7 — Last Follow-Up",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1340, 180],
      "credentials": {
        "twilioApi": {
          "id": "REPLACE_WITH_TWILIO_CRED_ID",
          "name": "Twilio account"
        }
      }
    }
  ],
  "connections": {
    "Formspree Form Webhook": {
      "main": [
        [
          { "node": "Acknowledge Form", "type": "main", "index": 0 },
          { "node": "Day 1 — Confirmation Text", "type": "main", "index": 0 }
        ]
      ]
    },
    "Day 1 — Confirmation Text": {
      "main": [[{ "node": "Wait 2 Days", "type": "main", "index": 0 }]]
    },
    "Wait 2 Days": {
      "main": [
        [{ "node": "Day 3 — Still Interested?", "type": "main", "index": 0 }]
      ]
    },
    "Day 3 — Still Interested?": {
      "main": [[{ "node": "Wait 4 More Days", "type": "main", "index": 0 }]]
    },
    "Wait 4 More Days": {
      "main": [
        [{ "node": "Day 7 — Last Follow-Up", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "redemption-auto-b" },
  "_setup_notes": {
    "step1": "In Formspree: go to your form → Integrations → Webhooks → add URL: https://rrichanell.app.n8n.cloud/webhook/redemption-estimate-form",
    "step2": "Replace REPLACE_WITH_TWILIO_NUMBER with your Twilio number",
    "step3": "Replace REPLACE_WITH_CAL_BOOKING_LINK with your Cal.com booking page URL",
    "step4": "The form 'name' and 'phone' fields must match exactly what Formspree sends (check your form field names)"
  }
}
